In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
main_df = pd.read_csv('international_matches.csv')
main_df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

In [4]:
main_df.describe()

,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
count,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,8379.000000,8095.000000,7787.000000,8510.000000,8162.000000,7564.000000,8312.000000,7979.000000
mean,77.854688,80.797375,323.401488,315.453576,1.609214,1.068266,74.963838,74.212477,74.903249,75.818743,75.889292,74.424379,75.420019,75.259143
std,52.355225,53.232902,500.825725,490.944273,1.630127,1.263944,8.212242,8.225919,6.003114,6.268416,6.053110,5.937425,6.201906,6.124573
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,47.000000,47.000000,52.800000,53.300000,54.200000,52.800000,53.300000,54.200000
25%,33.000000,36.000000,0.000000,0.000000,0.000000,0.000000,70.000000,69.000000,71.000000,71.700000,72.500000,70.500000,71.300000,71.800000
50%,71.000000,73.000000,0.000000,0.000000,1.000000,1.000000,75.000000,74.000000,75.200000,75.700000,76.200000,74.500000,75.300000,75.500000
75%,115.000000,119.000000,547.000000,523.000000,2.000000,2.000000,81.000000,80.000000,78.800000,80.000000,79.500000,78.200000,79.700000,79.000000
max,211.000000,211.000000,2164.000000,2164.000000,31.000000,21.000000,97.000000,97.000000,91.800000,93.000000,93.200000,91.800000,93.000000,93.200000

In [5]:
df = pd.DataFrame(
            data=main_df
        )

df.head(10)

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1993-08-08,Peru,Colombia,South America,South America,70,19,0,0,0,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1993-08-08,Zimbabwe,Eswatini,Africa,Africa,50,102,0,0,2,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1993-08-09,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,4,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1993-08-11,Faroe Islands,Norway,Europe,Europe,111,9,0,0,0,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1993-08-11,Sweden,Switzerland,Europe,Europe,4,3,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df['h_diff'] = df['home_team_score'] - df['away_team_score']
df['a_diff'] = df['h_diff'] * -1

df.head(10)

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,h_diff,a_diff
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,-2
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,-5
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,-1
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2,2
5,1993-08-08,Peru,Colombia,South America,South America,70,19,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,1
6,1993-08-08,Zimbabwe,Eswatini,Africa,Africa,50,102,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,-2
7,1993-08-09,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,-4
8,1993-08-11,Faroe Islands,Norway,Europe,Europe,111,9,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7,7
9,1993-08-11,Sweden,Switzerland,Europe,Europe,4,3,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,1

In [7]:
df['home_location'] = 'in'
df['away_location'] = 'in'

df.loc[df['neutral_location'] == True, ['home_location', 'away_location']] = 'neutral'

df.loc[df['home_team'] == df['country'], 'away_location'] = 'out'
df.loc[df['away_team'] == df['country'], 'home_location'] = 'out'

df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,h_diff,a_diff,home_location,away_location
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,2,-2,in,out
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,in,out
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,5,-5,in,out
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,-1,in,out
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,-2,2,in,out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,-1,in,out
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,NaN,NaN,NaN,NaN,NaN,NaN,-2,2,in,out
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,75.5,76.7,78.2,75.5,76.0,78.2,0,0,neutral,neutral
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,75.2,75.0,77.5,70.8,72.3,74.0,-3,3,in,out
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,73.0,80.0,73.8,NaN,79.3,70.8,3,-3,in,out

In [8]:
for i in range(df.shape[0]):
    df = df.append({
                    'date': df['date'].iloc[i],
                    'home_team': df['away_team'].iloc[i],
                    'home_team_continent': df['away_team_continent'].iloc[i],
                    'home_team_fifa_rank': df['away_team_fifa_rank'].iloc[i],
                    'home_team_total_fifa_points': df['away_team_total_fifa_points'].iloc[i],
                    'h_diff':df['a_diff'].iloc[i],
                    'tournament': df['tournament'].iloc[i],
                    'city': df['city'].iloc[i],
                    'country': df['country'].iloc[i],
                    'home_location': df['away_location'].iloc[i],
                    'home_team_goalkeeper_score': df['away_team_goalkeeper_score'].iloc[i],
                    'home_team_mean_defense_score': df['away_team_mean_defense_score'].iloc[i],
                    'home_team_mean_offense_score': df['away_team_mean_offense_score'].iloc[i],
                    'home_team_mean_midfield_score': df['away_team_mean_midfield_score'].iloc[i],
                    'home_location': df['away_location'].iloc[i],
                }, 
                ignore_index=True
            )

df.tail(10)

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,h_diff,a_diff,home_location,away_location
47832,2022-06-14,Republic of Ireland,NaN,Europe,NaN,47.0,NaN,1449.0,NaN,NaN,...,76.5,72.7,73.8,NaN,NaN,NaN,0.0,NaN,neutral,NaN
47833,2022-06-14,Finland,NaN,Europe,NaN,57.0,NaN,1406.0,NaN,NaN,...,70.0,72.3,73.5,NaN,NaN,NaN,-1.0,NaN,out,NaN
47834,2022-06-14,Montenegro,NaN,Europe,NaN,70.0,NaN,1342.0,NaN,NaN,...,76.2,74.7,68.2,NaN,NaN,NaN,3.0,NaN,out,NaN
47835,2022-06-14,Faroe Islands,NaN,Europe,NaN,124.0,NaN,1137.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,out,NaN
47836,2022-06-14,Lithuania,NaN,Europe,NaN,138.0,NaN,1092.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-2.0,NaN,out,NaN
47837,2022-06-14,Andorra,NaN,Europe,NaN,153.0,NaN,1040.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,out,NaN
47838,2022-06-14,Latvia,NaN,Europe,NaN,135.0,NaN,1105.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,out,NaN
47839,2022-06-14,Ghana,NaN,Africa,NaN,60.0,NaN,1387.0,NaN,NaN,...,75.5,76.0,78.2,NaN,NaN,NaN,0.0,NaN,neutral,NaN
47840,2022-06-14,Tunisia,NaN,Africa,NaN,35.0,NaN,1499.0,NaN,NaN,...,70.8,72.3,74.0,NaN,NaN,NaN,3.0,NaN,out,NaN
47841,2022-06-14,Egypt,NaN,Africa,NaN,32.0,NaN,1500.0,NaN,NaN,...,NaN,79.3,70.8,NaN,NaN,NaN,-3.0,NaN,out,NaN

In [10]:
df.drop([
        'away_team', 
        'away_team_continent',
        'away_team_fifa_rank',
        'away_team_total_fifa_points',
        'home_team_score', 
        'away_team_score', 
        'a_diff', 
        'away_location', 
        'neutral_location',
        'shoot_out',
        'home_team_result',
        'away_team_goalkeeper_score',
        'away_team_mean_defense_score',
        'away_team_mean_offense_score',
        'away_team_mean_midfield_score'
    ], 
    axis = 1, inplace = True
)
df

,date,home_team,home_team_continent,home_team_fifa_rank,home_team_total_fifa_points,tournament,city,country,home_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,h_diff,home_location
0,1993-08-08,Bolivia,South America,59.0,0.0,FIFA World Cup qualification,La Paz,Bolivia,NaN,NaN,NaN,NaN,2.0,in
1,1993-08-08,Brazil,South America,8.0,0.0,Friendly,MaceiÃ³,Brazil,NaN,NaN,NaN,NaN,0.0,in
2,1993-08-08,Ecuador,South America,35.0,0.0,FIFA World Cup qualification,Quito,Ecuador,NaN,NaN,NaN,NaN,5.0,in
3,1993-08-08,Guinea,Africa,65.0,0.0,Friendly,Conakry,Guinea,NaN,NaN,NaN,NaN,1.0,in
4,1993-08-08,Paraguay,South America,67.0,0.0,FIFA World Cup qualification,AsunciÃ³n,Paraguay,NaN,NaN,NaN,NaN,-2.0,in
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47837,2022-06-14,Andorra,Europe,153.0,1040.0,UEFA Nations League,ChiÈ™inÄƒu,Moldova,NaN,NaN,NaN,NaN,-1.0,out
47838,2022-06-14,Latvia,Europe,135.0,1105.0,UEFA Nations League,Vaduz,Liechtenstein,65.0,NaN,NaN,NaN,2.0,out
47839,2022-06-14,Ghana,Africa,60.0,1387.0,Kirin Cup,Suita,Japan,74.0,75.5,76.0,78.2,0.0,neutral
47840,2022-06-14,Tunisia,Africa,35.0,1499.0,Kirin Cup,Suita,Japan,NaN,70.8,72.3,74.0,3.0,out
47841,2022-06-14,Egypt,Africa,32.0,1500.0,Friendly,Seoul,Korea Republic,NaN,NaN,79.3,70.8,-3.0,out

In [11]:
df.rename(
    columns={
        'home_team': 'team',
        'home_team_continent': 'team_continent',
        'h_diff': 'goal_difference',
        'home_team_fifa_rank': 'team_fifa_rank',
        'home_team_total_fifa_points': 'team_total_fifa_points',
        'city': 'match_city',
        'country': 'match_country',
        'home_location': 'match_in_country',
        'home_team_goalkeeper_score': 'team_goalkeeper_score',
        'home_team_mean_defense_score': 'team_mean_defense_score',
        'home_team_mean_offense_score': 'team_mean_offense_score',
        'home_team_mean_midfield_score': 'team_mean_midfield_score'
    },
    inplace=True, 
    errors='raise'
)

df.head()

,date,team,team_continent,team_fifa_rank,team_total_fifa_points,tournament,match_city,match_country,team_goalkeeper_score,team_mean_defense_score,team_mean_offense_score,home_team_mean_midfield_score,goal_difference,match_in_country
0,1993-08-08,Bolivia,South America,59.0,0.0,FIFA World Cup qualification,La Paz,Bolivia,NaN,NaN,NaN,NaN,2.0,in
1,1993-08-08,Brazil,South America,8.0,0.0,Friendly,MaceiÃ³,Brazil,NaN,NaN,NaN,NaN,0.0,in
2,1993-08-08,Ecuador,South America,35.0,0.0,FIFA World Cup qualification,Quito,Ecuador,NaN,NaN,NaN,NaN,5.0,in
3,1993-08-08,Guinea,Africa,65.0,0.0,Friendly,Conakry,Guinea,NaN,NaN,NaN,NaN,1.0,in
4,1993-08-08,Paraguay,South America,67.0,0.0,FIFA World Cup qualification,AsunciÃ³n,Paraguay,NaN,NaN,NaN,NaN,-2.0,in

In [12]:
df.to_csv("data_after_clean.csv",index=False)